<% layout('layout/boilerplate')%>
<div class="row">
    <h1 class="col-6 offset-3">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campground/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="image" name="image" multiple>
                  <label class="custom-file-label" for="image">Choose file</label>
                </div>
              </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>" required>
                        <div class="valid-feedback">
                            looks good
                        </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                    name="campground[description]" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        looks good
                    </div>
            </div>
            <div class="mb-3">
                <% campground.image.forEach(function(img,i){%>
                    <img src="<%= img.url%>" class="img-thumbnail" alt="">
                    <label for="image-<%= i %>">Delete?</label>
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                <% }) %> 
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campground/<%= campground._id%>">Back To Campground</a>

    </div>
</div>